:root {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
}

.page-dark {
  background-color: rgb(20 25 36 / var(--tw-bg-opacity));
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.bg-card {
  background-color: rgb(35 44 61 / var(--tw-bg-opacity));
}

.text-grey-600 {
  color: rgb(186 217 252 / var(--tw-text-opacity));
}

.btn-sec {
  background-color: rgb(51 64 89 / var(--tw-bg-opacity));
}

.btn-primary {
  background-color: #328af1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.card-animation {
  animation: fadeIn 4s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}